<?xml version="1.0" encoding="UTF-8"?><suite name="SeleniumJavaFramework"><test name="Firefox"><parameter name="browser" value="Firefox"><classes><class name="fotf_Testcase.Homepage"><methods><include name="verify_fotf_logo"/><include name="click_fotf_channels"/></methods></class><class name="fotf_Testcase.Channelpage"><methods><include name="verify_fotf_channel"/><include name="sample1"/><include name="sample2"/><include name="sample3"/></methods></class></classes></parameter></test></suite>